html,body {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
  text-align: center;
  background-color: #ddd;
}
.navbar {
  z-index: 1;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 13px 5px 2px rgba(0, 0, 0, 0.1);
}
.headpage-section {
  height: 100%;
  width: 100%;
  background-image: url(imgs/bgsec.png);
  background-position: center;
  transform: translate3d(0,0,0);
  transition: all ease-out .5s;
  background-size: cover;
  background-attachment: scroll;
  opacity: 0.8;
  height: 50vh;
  overflow: hidden;
}
.headpage-section h1 {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 100;
  color: white;
  margin-top: 18vh;
  margin-bottom: 125px;
}
.select-bar {
 letter-spacing: 50px;
}
.select-bar [class *= select-bar_] {
  text-decoration: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 200px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  letter-spacing: 1px;
  font-size: 15px;
  color: #615d5d;
  opacity: 0.85;
  transition: all .5s;
}
.select-bar [class *= select-bar_]:hover {
  background-color: #252427;
  opacity: 0.85;
  color: white;
}
.main-section {
  height: 130vh;
  width: 60vw;
  margin: 0 auto;
  box-shadow: 0px 8px 8px 5px rgba(0, 0, 0, 0.2);
  padding: 200px;
  background-color: #fff;
}
.resume-section {
  border: 2px solid #555;
  height: 90%;
  padding: 100px;
}
.resume-section .resume-section_header {
  overflow: hidden;
}
.resume-section .resume-section_edubackground {
  margin: 50px;
}
.upload-image {
  float: left;
  width: 150px;
  height: 200px;
  border: 2px solid #ccc;
  line-height: 200px;
  position: relative;
  margin: 0 50px;
}
.upload-image img {
  vertical-align: middle;
}
.upload-image .upload-image_text {
  display: none;
  color: #444;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  line-height: 30px;
  width: 100%;
  background: rgba(0,0,0,0.5);
}
.upload-image .upload-image_btn {
  display: none;
}
.upload-image:hover .upload-image_text {
  display: block;
}
.self-introduce {
  display: flex;
  font-size: 16px;
  float: left;
  width: calc(100% - 260px);
  /*220 = 150 + 100 + 10;*/
  height: 200px;
}
.self-introduce span {
  flex: 2;
  text-align: left;
  line-height: 3em;
  color: #333;
}
.self-introduce .self-introduce_job {
  flex: 1;
  margin: 30px;
  padding:20px;
  line-height: 2em;
  background-color: #999;
}
.self-introduce .self-introduce_job .self-introduce_job__personname{
  margin: 15px 0;
  font-size: 35px;
  font-weight: 700;
}
.footer-section {
  display: flex;
  height: 200px;
  font-size: 30px;
}
.footer-section a {
  flex: 1;
  background-color: #615d5d;
  line-height:200px;
  color:white;
  text-decoration: none;
  vertical-align: middle;
  transition: all linear .3s;
}
.footer-section a::after {
  content: ' ';
  display: block;
  position: relative;
  margin: auto;
  top: -37%;
  width: 0px;
  height: 1px;
  line-height: 2px;
  background-color: #fff;
  transition: all linear .3s;
}
.footer-section a:hover {
  background-color: #3e3c3c;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.1);
}
.footer-section a:hover::after {
  width: 150px;
}


.item-inner {
  border-left: 2px solid #999;
  border-top: 1px solid #999;
}
.item-inner .item-inner_header {
  display: flex;
}
.item-inner .item-inner_header span{
  flex: 1;
}
.item-inner .item-inner_header span:nth-child(2) {
  
}
